<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>pro05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <!-- FirstServlet.class(톰캣서버페이지)를 요청할 주소 매핑(연결) 작업 설정 -->
  <!-- 1. FirstServlet 서블릿 클래스의 실제 경로를 등록 하는 부분 -->
  <servlet>
  	<servlet-name>aaa</servlet-name> <!-- /first 와 sec01.ex01.FirstServlet 실제 경로를 연결할 공통 별칭 -->
  	<servlet-class>sec01.ex01.FirstServlet</servlet-class> <!-- 실제 요청할 서블릿 클래스 주소 경로 작성 -->
  </servlet>
  
  <!-- 2. FirstServlet 서블릿 클래스의 실제 경로와 웹브라우저에서 요청하는 가짜주소를 매핑(연결) 하는 부분 -->
  <servlet-mapping>
  	<servlet-name>aaa</servlet-name> <!-- /first 와 sec01.ex01.FirstServlet 실제 경로를 연결할 공통 별칭 -->
  	<url-pattern>/first</url-pattern> <!-- http://localhost:8181/pro05/first 웹브라우저에서 요청할 가짜주소 설정 -->
  </servlet-mapping>
</web-app>